@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.pspan {
  border-left: 2px solid rgb(79 70 229 / 1);
  padding-left: 5px;
}

.scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header-list {
  display: none;
}

.header-sign {
  display: none;
}

.header-drop {
  display: block;
}

.background-design {
  clip-path: polygon(
    74.1% 44.1%,
    100% 61.6%,
    97.5% 26.9%,
    85.5% 0.1%,
    80.7% 2%,
    72.5% 32.5%,
    60.2% 62.4%,
    52.4% 68.1%,
    47.5% 58.3%,
    45.2% 34.5%,
    27.5% 76.7%,
    0.1% 64.9%,
    17.9% 100%,
    27.6% 76.8%,
    76.1% 97.7%,
    74.1% 44.1%
  );
}

@media (min-width: 1024px) {
  .header-list {
    display: flex;
    column-gap: 3rem;
  }
  .header-sign {
    display: flex;
    justify-content: flex-end;
  }
  .header-drop {
    display: none;
  }
}
